* {
    font-family: "Cormorant Garamond", serif;
       
    }

p {
    font-family: "figtree", sans-serif;
}
.space-top{
    padding-top: 12rem;
}

.wrapper {
    padding-right: 6%;
    padding-left: 6%;
}
